<div>
    <div class="container">
        <div class="container-information">
            <label class="user" for="user">Usuarios</label>
            <label class="description" for="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
        </div>
        <div class="buttons">
            <button class="button-secondary margin">
               <img src="/assets/icons/eye.svg" alt=""> Previsualizar</button>
            <button (click)="showModal = true" class="button-primary"><img src="/assets/icons/add.svg" alt="" /> nuevo usuario</button>
        </div>
    </div>
    <div class="content-table">
        <app-filters (emitSearch)="search($event)" (emitOrder)="order($event)" (emitStatus)="status($event)"></app-filters>
        <app-table [headers]="headers" [data]="filterArray"></app-table>
    </div>
</div>
<app-modal (showModal)="showModal = $event" (saveData)="addData($event)" *ngIf="showModal"></app-modal>