/* You can add global styles to this file, and also import other style files */
:root {
  --orange: #fa6a00;
  --white: #ffffff;
  --black: #131B31;
  --gray: #969696;
  --ligth-gray: #e0e0e0;
}

body {
  background: var(--ligth-gray);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button {
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-secondary {
    border: 1px var(--orange) solid;
    background: var(--white);
    color: var(--orange);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &-primary {
    height: 48px;
    background: var(--orange);
    color: var(--white);
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.input-style {
  padding: 5px 7px;
  background: #E3E3E3;
  border: 1px var(--ligth-gray) solid;
  height: 48px;
  width: 100%;
  border-radius: 2px;
}

.dropdown-style {
padding: 5px 7px;
background: var(--ligth-gray);
border: 1px var(--ligth-gray) solid;
height: 48px;
width: 100%;
border-radius: 2px;
}