
    <div  class="table-container" >
        <table cdkDropList (cdkDropListDropped)="drop($event)">
            <tr>
                <th></th>
                <th class="header" *ngFor="let key of headers | tableKey">
                    {{key.value}}
                </th>
            </tr>
            <tr class="row" cdkDrag *ngFor="let item of data">
                <td>
                    <img src="/assets/icons/points.svg" alt="">
                </td>
                <td *ngFor="let key of headers | tableKey">
                    <img class="style-image" *ngIf="key.keys === 'picture'" [src]="item.picture" alt="photo" />
                 <label *ngIf="key.keys !== 'picture' && key.keys !== 'active'" for="data">{{item[key.keys]}} </label>
                 <img *ngIf="key.keys === 'active'" src="/assets/icons/{{item.active ? 'toggle_on.svg' : 'toggle_off.svg'}}" alt="">
                </td>
            </tr>
        </table>
    </div>