
    <div class="table-container">
        <div class="header" *ngFor="let key of headers | tableKey">
            {{key.value}}
            <div class="row" *ngFor="let item of data">
                <img *ngIf="key.keys === 'picture'" src="/assets/icons/points.svg" alt="">
                <img class="style-image" *ngIf="key.keys === 'picture'" [src]="item.picture" alt="photo" />
             <label *ngIf="key.keys !== 'picture' && key.keys !== 'active'" for="data">{{item[key.keys]}} </label>
             <img *ngIf="key.keys === 'active'" src="/assets/icons/{{item.active ? 'toggle_on.svg' : 'toggle_off.svg'}}" alt="">
            </div>
        </div>
    </div>