.table-container {
    padding: 19px 17px;

    table {
        width: 100%;
        
        .header {
            color: #494949;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            text-align: start;
            }   
    }
.row {
    height: 64px;
    color: var(--label);
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    cursor: pointer;
    td {
        cursor: pointer;
    }
    .grip-style {
        height: 24px;
        margin-right: 29px;
    }

    .status {
        height: 30px;
    }
}
    .style-image {
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
}

.cdk-drag-preview{
    display: flex;
    justify-content: space-between;
    .row {
        height: 64px;
        color: var(--label);
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        .grip-style {
            height: 24px;
            margin-right: 29px;
        }
    }
        .style-image {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }
}